<div class="ui form raised segment">
  <h2 class="ui header">
    Add a New Book
    <div class="sub header">All fields are required</div>
  </h2>

  <form ng-submit="ctrl.addNewBook()" class="fields">
    <div class="four wide field required">
      <label>Title</label>
      <input type="text" ng-model="ctrl.newBook.title">
    </div>
    <div class="three wide field required">
      <label>Author</label>
      <input type="text" ng-model="ctrl.newBook.author">
    </div>
    <div class="three wide field required">
      <label>Genre</label>
      <input type="text" ng-model="ctrl.newBook.genre">
    </div>
    <div class="two wide field required">
      <label>Price</label>
      <input type="text" ng-model="ctrl.newBook.price">
    </div>
    <div class="two wide field required">
      <label>ISBN</label>
      <input type="text" ng-model="ctrl.newBook.isbn">
    </div>
    <div class="two wide field">
      <label>Action</label>
      <button class="positive ui button" type="submit">Create</button>
    </div>
  </form>
</div>