<h2 class="ui header left aligned">
  All Books</h2>
<div>
  <table class="ui celled padded table violet">
    <thead>
      <tr>
        <th class="single line four wide">Title</th>
        <th class="three wide">Author</th>
        <th class="three wide">Genre</th>
        <th class="two wide">Price</th>
        <th class="{{loginController.isLoggedIn ? 'two' : 'four'}} wide">ISBN</th>
        <th class="one wide" ng-show="loginController.isLoggedIn">Update</th>
        <th class="one wide" ng-show="loginController.isLoggedIn">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="book in ctrl.books track by book.uuid" class="repeated-item">
        <td>
          <strong ng-hide="book.isUpdateMode">{{book.title}}</strong>
          <div class="ui input mini" ng-show="book.isUpdateMode">
            <input type="text" ng-model="book.title">
          </div>
        </td>
        <td class="single line">
          <span ng-hide="book.isUpdateMode">{{book.author}}</span>
          <div class="ui input mini" ng-show="book.isUpdateMode">
            <input type="text" ng-model="book.author">
          </div>
        </td>
        <td>
          <span ng-hide="book.isUpdateMode">{{book.genre}}</span>
          <div class="ui input mini" ng-show="book.isUpdateMode">
            <input type="text" ng-model="book.genre">
          </div>
        </td>
        <td>
          <span ng-hide="book.isUpdateMode">{{book.price | currency}}</span>
          <div class="ui input mini" ng-show="book.isUpdateMode">
            <input type="text" ng-model="book.price">
          </div>
        </td>
        <td>
          <span ng-hide="book.isUpdateMode">{{book.isbn}}</span>
          <div class="ui input mini" ng-show="book.isUpdateMode">
            <input type="text" ng-model="book.isbn">
          </div>
        </td>
        <td ng-if="loginController.isLoggedIn">
          <button class="yellow ui button" ng-click="book.isUpdateMode = true" ng-hide="book.isUpdateMode">Update</button>
          <button class="green ui button" ng-click="book.isUpdateMode = false; ctrl.bookUpdated(book.uuid)" ng-show="book.isUpdateMode">Finish</button>
        </td>
        <td ng-if="loginController.isLoggedIn">
          <button class="negative ui button" ng-click="ctrl.deleteBook(book.isbn)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>